data/toy-data
data/toy-data-with-desv
data/toy-data-matlab
data/full-sim-data
data/backup-full-sim-data
data/mini-sets
data/full-data-matlab
data/full-sim-with-hydro
data/networks/full-nets/simple_network_unit_testing/checkpoints

data/networks/iros-nets

*.csv
*.asv
