data/toy-data
data/toy-data-with-desv
data/toy-data-matlab
data/full-sim-data
data/backup-full-sim-data
data/mini-sets
data/full-data-matlab
data/full-sim-with-hydro
data/networks/full-nets/simple_network_unit_testing/checkpoints
data/networks/full-nets
data/networks/iros-nets
data/networks/icra-redo-nets

src/full-sim/data-generation/combo_traj_yaml_files
src/full-sim/data-generation/traj_yaml_files

*.csv
*.asv
data/full-sim-data-022223/channel_dict.mat
data/full-sim-data-022223/FullData.mat
data/full-sim-data-022223/FullData_10Hz.mat
data/full-sim-data-022223/FullData_50Hz.mat
data/full-sim-data-110822/FullData.mat
data/full-sim-data-110822/FullData_10Hz.mat
data/ai535-test-data-061523-unsorted/FullData.mat

!data/full-sim-data-091023/test/*.csv
!data/full-sim-data-091023/validate/*.csv